[submodule "deploy"]
    path = deploy
    url = https://github.com/yujeongoyj/deploy.git

[submodule "nyamnyam-config-server"]
    path = server/config-server
    url = https://github.com/yujeongoyj/nyamnyam-config-server.git

[submodule "nyamnyam-secret-server"]
    path = server/config-server/src/main/resources/secret-server
    url = https://github.com/yujeongoyj/nyamnyam-secret-server.git
